{% extends "layout.html" %}
{% set title = 'Resumen' %}
{% block body %}

<h1>Introducción Informal a Matlab y Octave</h1>

<p>Esta es la página web de los libros <i>Introducción Informal a
  Matlab y Octave</i> y <i>Matemáticas en Ingeniería con Matlab y Octave</i>
  además del material correspondiente a varios cursos de introducción
  a Matlab y a Octave. Ambos libros están publicados bajo la licencia
  <a href="#copyright">GFDL</a>.</p>

<p>Dejé de revisar <a href="#sobre"><i>Introducción Informal a Matlab y Octave</i></a> a
  finales de 2007 debido a que el esfuerzo necesario para corregir y
  actualizar el texto era equivalente a escribir un nuevo libro. En el
  caso que alguien esté interesado en retomar la escritura del texto
  puede consultar la sección
  de <a href="#colaboraciones">colaboraciones.</a></p>

<p><a href="#index"><i>Matemáticas en Ingeniería con Matlab y Octave</i></a> tiene un
  objetivo ligeramente distinto al primer libro.  Dando clase de
  Matlab advertí que muchos de mis alumnos que ya conocían el lenguaje
  sabían realizar tareas básicas: interpolar, integrar, resolver
  sistemas de ecuaciones...  Sin embargo, cuando se les pedía resolver
  un problema completo y juntar todo lo que sabían en un único script
  estaban completamente perdidos. No es una reescritura del libro
  anterior y pretende reflejar las técnicas que he aprendido desde que
  empecé a escribir sobre Matlab.  Es un libro orientado a alumnos de
  últimos años de carrera o de postgrado que tengan que utilizar
  Matlab para tareas de cierta entidad. Es un libro mucho menos conexo
  que voy ampliando a medida que por mi trabajo tengo la oportunidad
  de programar algún ejemplo así que es posible que no llegue a
  terminarse nunca. Al igual que <i>Introducción Informal a Matlab y
  Octave</i> es un texto abierto a colaboraciones de todo tipo.  Si
  encontráis una errata o queréis aportar algo consultad la sección
  de <a href="#colaboraciones">colaboraciones.</a></p>

<p> &rarr;<a href="https://forja.rediris.es/projects/iimyo/">Página en
    la forja</a> para más información. Ahora este proyecto utiliza
    <b>git</b> como SCM, esto ha obligado a abandonar el repositorio
    Subversion de la forja. </p>

<h2 id="index" class="title">Matemáticas en Ingeniería con Matlab y Octave</h2>
<table class="contentstable" align="center" style="margin-left: 30px"><tr>
    <td width="50%">
      <p class="biglink"><a class="biglink" href="{{ pathto("contenidos") }}">Contenidos</a><br/>
         <span class="linkdescr">Para una visión completa del
         título.</span></p>
      <p class="biglink"><a class="biglink" href="{{ pathto("search") }}">Buscar</a><br/>
         <span class="linkdescr">Buscar en el libro</span></p>
      <p class="biglink"><a class="biglink" href="./iimyo2.pdf">PDF</a><br/>
         <span class="linkdescr">Versión del libro en pdf</span></p>
    </td><td width="50%">
      <p class="biglink"><a class="biglink" href="{{ pathto("genindex") }}">Índice General</a><br/>
         <span class="linkdescr">Todas las funciones, y términos</span></p>
      <p class="biglink"><a class="biglink" href="{{ pathto("modindex") }}">Índice de Toolkits</a><br/>
         <span class="linkdescr">Acceso rápido a todos los toolkits
         documentados.</span></p>
    </td></tr>
  </table>

<h2 id="sobre" class="title">Introducción Informal a Matlab y
  Octave</h2>

<p>
  &rarr;<a href="http://forja.rediris.es/frs/?group_id=305">Descarga
  del libro en pdf</a></p>

<p>Los objetivos iniciales de este libro son los siguientes:</p>
<ul class="simple">
  <li>Describir el lenguaje de programación Matlab</li>
  <li>Dar una descripción extensa del funcionamiento del intérprete libre
    Octave y sus ventajas e inconvenientes respecto a la implementación
    propietaria del lenguaje.</li>
  <li>Presentar ejemplos inspirados en el Cálculo Numérico para dar una
    introducción aplicada de la programación con Matlab y Octave.</li>
  <li>Realizar las explicaciones de Cálculo Numérico pertinentes para que
    el lector sea capaz de entender los ejemplos con el mínimo
    conocimiento previo posible.</li>
</ul>
<p>
  Este libro es un proyecto participativo y abierto, por este motivo
  se ha optado por una licencia libre en su distribución.  Su espíritu
  es el de compartir el conocimiento y aceptar cualquier ayuda por
  pequeña que sea.</p>

<h3 id="copias">Copias impresas</h3>
    <p>Los adictos a los documentos a base de árboles muertos pueden
      adquirir una copia impresa
      <a href="http://www.lulu.com/content/2495137">aquí</a> por unos
      20€ gastos de envío incluidos. Su ISBN es el
      978-8-4691-3626-3. Lulu es un conocido servicio editorial
      online al que no se le ha cedido ningún derecho, sólo se
      encarga de imprimir y mandar el libro.</p>

    <p>Este servicio es sin ningún ánimo de lucro. El precio
      relativamente elevado se debe a la comisión que se lleva Lulu y
      los gastos de envío (el precio de coste según ellos es de unos
      8€). En la actualidad estoy buscando algún servicio de
      publicaciones universitario que esté dispuesto a imprimirlo y
      distribuirlo por un precio razonable. </p>

    <p>Al ser un proyecto de documentación casi cualquier fuente
      impresa quedará desactualizada en unos pocos meses.  El método
      recomendado para obtener una copia impresa del libro es clonar
      el repositorio, instalar las herramientas necesarias, generarse
      el pdf e imprimirlo. Asimismo el pdf disponible en la sección de
      descargas está razonablemente actualizado.</p>

<h2 id="cursos" class="title">Material de los cursos</h2>

<p>Durante los años de docencia se han ido acumulando transparencias y
  ejercicios correspondientes a cursos de Matlab útiles para quien
  quiera una introducción más breve que el libro</p>

<ul>
<li><a href="http://forja.rediris.es/frs/download.php/1149/basicoetsia.zip">Curso
de Matlab Básico de la ETSIA</a></li>
<li><a href="http://forja.rediris.es/frs/download.php/1000/tutorial.zip">Tutorial
    a base de ejercicios</a> para el Máster de Ensayos en Vuelo</li>
<li><a href="http://forja.rediris.es/frs/download.php/793/material_uca.zip">Curso
    de Octave</a> impartido en la Universidad de Cádiz</li>
</ul>


<h2 id="recursos">Otros recursos sobre Octave</h2>
<ul>
  <li><a href="http://www.gnu.org/software/octave/">Página web del
      proyecto Octave</a></li>
  <li><a href="http://wiki.octave.org">Wiki del proyecto Octave</a></li>
  <li><a href="http://octave.sourceforge.net/">Página web de
      octave-forge, una colección de toolkits para Octave.</a>También
    en esta página podemos encontrar</li>
  <ul>
    <li>El <a href="http://www.gnu.org/software/octave/doc/interpreter/">Manual
	de Octave</a> actualizado a la última versión.</li>
    <li>El <a href="http://octave.sourceforge.net/doc/index.html">índice</a>
      de todas las funciones disponibles tanto en Octave como en los
      toolkits de octave-forge.</li>
    <li>La <a href="http://octave.sourceforge.net/doxygen/html/index.html">documentación
	de la API</a> de liboctave para ampliar el intérprete mediante
      C++.</li>
  </ul>
</ul>

<h2 id="lecturas">Otras lecturas de interés</h2>
<ul>
  <li><a href="./notaautor.html">Nota del autor inicial</a></li>
  <li><a href="./FAQ.html">Preguntas más frecuentes</a></li>
  <li><a href="http://guillemborrell.es/">El blog de Guillem</a></li>
  <li><a href="http://servidor-da.aero.upm.es/zope/portalda/informacion-general/actividades/curso-de-matlab/">Página
      del Curso de Matlab </a>del que surgió todo el material.  En ella
    encontrareis las últimas transparencias del curso y la solución de los
    ejercicios propuestos en las mismas.  Son útiles para introducirse
    rápidamente en el tema.</li>
  <li><a href="http://qtoctave.wordpress.com/">QtOctave</a>, un
    front-end multiplataforma para Octave.</li>
  <li><a href="http://www.springer.com/east/home/generic/search/results?SGWID=5-40109-22-156994933-0">Cálculo
      científico con Matlab y Octave</a>. Poco después que yo publicara en la red el libro aparecía este de la
    misma temática. Para más inri los autores fueron mis profesores de
    <i>Modellistica Numerica per Problemi Differenziali</i> en el
    Politecnico di Milano durante mi año de Erasmus.  Alfio
    Quarterioni es el autor de uno de los libros de referencia sobre
    métodos espectrales y un investigador de renombre internacional.
    Fausto Saleri era una persona encantadora, sospecho que la mayor
    parte del libro es suya. Su fallecimiento fue un gran golpe
    moral para la mayoría de mis compañeros de curso en Milán.  El
    título no es póstumo por sólo un par de meses.  Aunque no he
    podido analizar el libro con mucho detenimiento es sin duda el
    recurso comercial más recomendable y cercano a IIMyO aunque
    mucho más dirigido al Cálculo Numérico.  El original está en
    italiano y desconozco quién lo tradujo.
  </li>
</ul>

<h2 id="agradecimientos">Agradecimientos</h2>
  
  <p>Me gustaría agradecer el apoyo tanto material
    como personal de los departamentos de Motopropulsión y
    Termofluidodinámica, Matemática Aplicada y Fundamentos Matemáticos
    de la ETSI Aeronáuticos de la UPM.
  </p>
  
<p>A la Universidad de La Rioja y a Juan José Martín por la
  extraordinaria acogida que tuve en Logroño donde me dieron la
  oportunidad de entrar en bastantes bares de la Calle del Laurel y a
  la Oficina de Software Libre de la Universidad de Cádiz por el
  interés que han mostrado en este texto.</p>

  
<h2 id="colaboraciones">Colaboraciones</h2>

<p>Ambos libros están en
  un <a href="http://gitorious.org/projects/matem-ticas-en-ingenier-a-con-matlab-y-octave">repositorio <b>git</b>
  público</a>.  Al ser un scm descentralizado todo el mundo puede
  crear su propia rama del libro pero el sistema preferido es obtener
  una cuenta en <a href="http://gitorious.org">Gitorious</a> y crear
  una rama del proyecto desde la que pueda hacer un pull.
</p>

<p><i>Introducción Informal a Matlab y Octave</i> está escrito en
  L<sup>A</sup>T<sub>E</sub>X y se encuentra en el directorio
  1edicion. Las instrucciones sobre cómo generar el documento en pdf
  están en el archivo LEEME.</p>

<p><i>Matemáticas en Ingeniería con Matlab y Octave</i> está escrito
  utilizando sphinx, la herramienta de documentación oficial de
  Python, y está en el directorio source. La información sobre cómo
  generar el documento está en LEEME.sphinx de la raíz.
</p>

<p>Estos son los nombres de algunos amigos que han colaborado en
  alguno de los dos libros sin ningún orden en especial
  <ul>
    <li>Jorge Molano Rembiasz, que corrigió algunas erratas del
    primer libro</li>
    <li>David Marchante, el script del ejercicio del motor cohete es
    más suyo que mío.</li>
    <li>Fernando Llorente, con quien me miré el ejemplo de
    turbulencia bidimensional y la ecuación de Burgers.</li>
  </ul>
</p>

<h2 id="copyright">Nota de Copyright, GNU FDL</h2> 

<p>Copyright &copy; 2008 GUILLEM BORRELL NOGUERAS. Se otorga permiso
    para copiar, distribuir y/o modificar este documento bajo los términos
    de la Licencia de Documentación Libre de GNU, Versión 1.2 o cualquier
    otra versión posterior publicada por la Free Software Foundation; sin
    Secciones Invariantes ni Textos de Cubierta Delantera ni Textos de
    Cubierta Trasera. Una copia de la licencia está incluida en el
    apéndice del libro titulado GNU Free Documentation License.</p>
  
  <pre>ISBN: 978-8-4691-3626-3</pre>
  
  <div style="text-align:center;">
    <img src="https://forja.rediris.es/themes/rediris/images/logo.png" />
  </div>
  
{% endblock %}
